.graph-wrapper {
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: -75px;
  margin-right: 40px;
}

.graph-wrapper .row:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.graph-wrapper .row:first-child .col span {
  color: peachpuff;
  margin-left: 10px;
  cursor: pointer;
}

.graph-wrapper .row:last-child {
  padding: 20px;
}

.graph-wrapper .row:last-child .sub-row:first-child {
  font-size: 17px;
}

.graph-wrapper .row:last-child .sub-row:first-child span {
  color: peachpuff;
}
